

/*=======Link Style=======*/
A:visited {
	TEXT-DECORATION: none;
	color: 000000
}

A:active {
	TEXT-DECORATION: none;
	color: 000000
}

A:hover {
	TEXT-DECORATION: underline overline;
	color: #BB0000;
}

A:link {
	text-decoration: none;
	color: 000000
}
A{
	font-size: 12px;
	color: #3b6375;
}

